* {
    box-sizing: border-box;
}

.primColor {color:#9356DC;}
.secColor {color:#FF79DA}
.terColor {color:#99E2D0}


html {
    background-color: white;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 1.5em;
}

.h1--fancy {
    font-family: "Shrikhand", cursive;
    font-size: 1.7em;
    font-weight: 400;

}

h2 {
    font-size: 1.5em;
    font-weight: 700;
}

h3 {
    font-size: 1em;
}

h4 {
    color: mediumaquamarine;
    background-color: mintcream;
    width: 100px;
    font-size: 0.8em;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
}

/*main {
    padding: 0 20px;
}*/

p {
    font-size: 0.75rem;
}

a {
    text-decoration: none;
}
a:visited {
    color: inherit;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
    
/*----header----*/

.header {
    width: 100%;
    border-bottom: #cecece 1px solid;
    padding-top: 0px;
    text-align: center;
    }

.header__h1 {

    width: 165px;
    height:35px;
    margin: 0 auto;
    color: transparent;
    background-image: url(/images/logo/ohmyfood@2x.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
}

/*------------------geoloc------------*/
.geoloc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    background: rgb(206,206,206);
    background: linear-gradient(180deg, rgba(206,206,206,1) 0%, rgba(234,234,234,1) 6%);
}
.geoloc__i {
    margin-right: 16px;
}

/*------------------explorer------------*/
.explorer {
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    background-color: #f7f7f7;
    justify-content: center;
    text-align: center; 
    
}
.explorer__h2 {
    margin : 0 0 25px 0;
    width:90%;
}

.explorer__p {
    font-size: 1.01em;
    margin: 0 0 35px 0;
        }

.explorer__button {
    width:220px;
    height:50px;
    border-radius: 25px;
    margin: auto;
    background: rgb(147,86,220);
background: linear-gradient(357deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 96%);
color: white;
border: none;
font-weight: 300;
}

/*------------------fonctionnement------------*/
.fonctionnement {
    padding: 20px;
}

.listeBoutonFonctionnement__ol {
    counter-reset: item;
    list-style-type: none;
    line-height: 2.2;
    margin-left: -40px;
    width:110%;
    
}

.listeBoutonFonctionnement__li {
    display: block;
    position: relative;
    height:80px;
    border-radius: 25px;
    background-color: #f7f7f7;
    margin-bottom: 10px;

}
.listeBoutonFonctionnement__li__span {
    margin-left: 40px;
    font-weight: 700;
    position: relative;
    top:28%;
    
}

ol.listeBoutonFonctionnement__ol li:before {
    content: counter(item) " ";
    counter-increment: item;
    color: white;
    position: absolute;
    top: 50%;
    left:-3%;
    margin-top: -1em;
    background: #9356DC;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 2em;
    font-weight: 400;
    
  }
  .listeBoutonFonctionnement__li span i {
    margin-right:20px;
    color: #7e7e7e ;
  }
ol.listeBoutonFonctionnement__ol li:nth-child(3)
{background-color: #f5edff;}

/*----------------------------resto-----*/

.resto {
    padding: 20px 20px 60px 20px;
    background-color: #f7f7f7;
}

article.card {
    margin : 20px 0;
    position: relative;
    width: 100%;
    height:250px;
    background-color: white;
   
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;20px
}

.article__h4 {
    display: none;
    padding: 10px 0;
    width: 80px;
    height :30px;
    font-weight: 700;
    text-align: center;
    color:#008766;
    background-color: #99e2d0;
}

.article__h4.article__h4--nouveau {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 7;

}
article.card figure {
    width: 100%;
    margin: 0;  
    padding: 0;
}
article.card figure img {
    height: 175px;
    width:100%;
    margin :0;
    border-radius: 20px 20px 0  0;
    object-fit:cover;    
}

div.containerBasCard {
    margin-top:12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}

div.texteCard {
    height: 100%;
}

.containerBasCard h3 {
  font-size: 1.1em;  
  margin: 0
}
.containerBasCard p {
       font-size: 1.1em;
    margin :5px 0 0 0;  
  }

  .containerBasCard i {
    font-size: 1.5em;

  }

/*********footer**********************/
footer {
    background-color: #353535;
    color: white;
    padding: 25px 20px;
}

div.footer__logo {
    margin-bottom: 25px;
    background-image: url(/images/logo/ohmyfood@2x.svg);
    width: 100px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(98%) sepia(0%) saturate(7494%) hue-rotate(217deg) brightness(103%) contrast(104%);
}

.footer__ul {
    list-style: none;
    margin: 0;
    padding: 0;
    ;

}

.footer__ul li {
    margin-top:0.9em;
}
/*------------Page menu --------------------*/


.menu__header i {
    font-size: 1.5em;
    float: left;
    margin-left:20px;
    
}

.menu__header h1 {
margin: 20px auto;
}
/*------main---------------*/
.menu__main {
    min-height: 282px;
    background-image: url("/images/restaurants/jay-wennington.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size:100% 282px;
    }